@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
#root {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 104%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Noto+Sans+JP", sans-serif;
}

.admin_main_container {
  position: relative;
  left: 0;
  display: flex;
  width: 105%;
  height: 100%;
  background-color: rgb(197, 197, 206);
}
.admin_main_container .navbar {
  position: relative;
  left: 10px;
  display: grid;
  grid-template-rows: 0.5fr 4.5fr;
  width: 400px;
  height: 100%;
  background-color: 1;
}
.admin_main_container .navbar .user {
  display: flex;
  width: 80%;
  height: 100%;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.232);
}
.admin_main_container .navbar .user .image {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 121px;
  height: 100%;
}
.admin_main_container .navbar .user .image img {
  width: 50%;
  height: 50%;
}
.admin_main_container .navbar .user .user_info {
  width: 70%;
  height: 100%;
  display: grid;
  text-align: start;
  font-size: 12px;
  grid-template-rows: 1fr 1fr;
}
.admin_main_container .navbar .user .user_info h4 {
  position: relative;
  top: 17px;
}
.admin_main_container .navbar .user .user_info p {
  position: relative;
  bottom: 10px;
}
.admin_main_container .navbar .menu {
  display: grid;
  position: relative;
  width: 80%;
  height: 70%;
  gap: 5px;
}
.admin_main_container .navbar .menu .list {
  align-items: center;
  display: grid;
  width: 100%;
  height: 120px;
}
.admin_main_container .navbar .menu .list h4 {
  position: relative;
  top: 20px;
  font-size: 14px;
  color: rgba(138, 138, 159, 0.971);
}
.admin_main_container .navbar .menu .list ul {
  display: grid;
  width: 100%;
  gap: 15px;
  padding-left: 0;
  list-style: none;
  font-family: "Noto+Sans+JP", sans-serif;
}
.admin_main_container .navbar .menu .list ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: rgb(71, 69, 69);
}
.admin_main_container .navbar .menu .list ul li:hover {
  cursor: pointer;
  width: 80%;
  text-align: center;
  padding-left: 5px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 5px 5px;
}
.admin_main_container .main_content {
  position: relative;
  top: 20px;
  right: 10px;
  width: 90%;
  height: 95%;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
}
.admin_main_container .main_content .page_title {
  color: rgba(45, 45, 52, 0.971);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.232);
}
.admin_main_container .main_content .page_title h3 {
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}
.admin_main_container .main_content .filter {
  display: flex;
  width: 100%;
  height: 100px;
  gap: 40px;
  justify-items: center;
  align-items: center;
}
.admin_main_container .main_content .filter .column p {
  font-size: 12px;
}
.admin_main_container .main_content .filter .column #book_column {
  width: 160px;
  height: 30px;
  background-color: rgb(255, 252, 252);
  border: none;
}
.admin_main_container .main_content .filter .column #book_column option {
  text-align: center;
}
.admin_main_container .main_content .filter .search_section {
  position: relative;
  left: 20px;
}
.admin_main_container .main_content .filter .search_section p {
  font-size: 12px;
}
.admin_main_container .main_content .filter .search_section .search_btn {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(255, 252, 252);
  border: none;
  z-index: 10;
}
.admin_main_container .main_content .filter .search_section .search_btn:hover {
  cursor: pointer;
  color: blue;
}
.admin_main_container .main_content .filter .search_section .search {
  position: relative;
  width: 200px;
  height: 30px;
  z-index: 3;
  background-color: rgb(255, 252, 252);
  border-radius: 0px 5px 5px 0px;
  border: none;
}
.admin_main_container .main_content .filter .search_section .search::placeholder {
  text-align: center;
}
.admin_main_container .main_content .filter .createBtn {
  display: block;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(104, 116, 241);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .filter .createBtn:hover {
  color: black;
  cursor: pointer;
  background-color: rgb(39, 121, 235);
}
.admin_main_container .main_content .filter .reloadBtn {
  display: block;
  margin-top: 40px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(104, 116, 241);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .filter .reloadBtn:hover {
  color: black;
  cursor: pointer;
  background-color: rgb(39, 121, 235);
}
.admin_main_container .main_content .filter .export {
  position: relative;
  top: 20px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(104, 116, 241);
  border-radius: 7px 7px 7px 7px;
  border: none;
  text-align: center;
  padding-top: 8px;
  padding-left: 15px;
}
.admin_main_container .main_content .filter .export:hover {
  color: black;
  cursor: pointer;
  background-color: rgb(39, 121, 235);
}
.admin_main_container .main_content .data {
  table-layout: fixed;
}
.admin_main_container .main_content .data .table_head {
  width: 95%;
  height: 30px;
  background-color: rgb(197, 197, 206);
}
.admin_main_container .main_content .data .table_head .column {
  width: 90%;
  display: flex;
  gap: 15px;
  margin-left: 10px;
  justify-content: space-between;
}
.admin_main_container .main_content .data .table_head .column .book0 {
  text-align: center;
  padding-right: 40px;
  width: 70px;
  height: 40px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_head .column .book1 {
  width: 100px;
  height: 40px;
  padding-right: 88px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_head .column .book2 {
  text-align: center;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  color: white;
  padding-right: 30px;
}
.admin_main_container .main_content .data .table_head .column .book3 {
  text-align: center;
  width: 155px;
  height: 40px;
  margin-top: 10px;
  color: white;
  padding-right: 30px;
}
.admin_main_container .main_content .data .table_head .column .book4 {
  width: 100px;
  height: 40px;
  padding-right: 30px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_head .column .book5 {
  width: 60px;
  height: 40px;
  padding-right: 55px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_head .column .book6 {
  margin-top: 10px;
  color: white;
  text-align: center;
  width: 100px;
  height: 40px;
  padding-right: 20px;
}
.admin_main_container .main_content .data .table_head .column .book7 {
  margin-top: 10px;
  color: white;
  text-align: center;
  width: 50px;
  height: 40px;
  padding-right: 50px;
}
.admin_main_container .main_content .data .table_head_borrow {
  width: 600px;
  height: 30px;
  background-color: rgb(197, 197, 206);
}
.admin_main_container .main_content .data .table_head_borrow .column_borrow {
  width: 50%;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}
.admin_main_container .main_content .data .table_head_borrow .column_borrow .borrow0 {
  text-align: center;
  padding-right: 80px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_borrow .column_borrow .borrow1 {
  text-align: center;
  padding-right: 90px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_borrow .column_borrow .borrow2 {
  text-align: center;
  padding-right: 80px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_borrow .column_borrow .borrow3 {
  text-align: center;
  padding-right: 40px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_admin {
  width: 900px;
  height: 30px;
  background-color: rgb(197, 197, 206);
}
.admin_main_container .main_content .data .table_head_admin .column_admin {
  width: 100%;
  display: flex;
}
.admin_main_container .main_content .data .table_head_admin .column_admin .admin0 {
  text-align: left;
  width: 100px;
  height: 30px;
  padding-right: 65px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_admin .column_admin .admin1 {
  text-align: left;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  color: white;
  padding-right: 120px;
}
.admin_main_container .main_content .data .table_head_admin .column_admin .admin2 {
  text-align: center;
  padding-right: 55px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_admin .column_admin .admin3 {
  text-align: center;
  padding-right: 40px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_user {
  width: 700px;
  height: 30px;
}
.admin_main_container .main_content .data .table_head_user .column_user {
  width: 700px;
  display: flex;
  background-color: rgb(196, 196, 196);
}
.admin_main_container .main_content .data .table_head_user .column_user .user0 {
  text-align: left;
  width: 100px;
  height: 30px;
  padding-right: 50px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}
.admin_main_container .main_content .data .table_head_user .column_user .user1 {
  text-align: left;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  color: white;
  padding-right: 80px;
}
.admin_main_container .main_content .data .table_head_user .column_user .user2 {
  text-align: left;
  padding-right: 60px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_head_user .column_user .user3 {
  text-align: center;
  padding-right: 100px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_head_user .column_user .user4 {
  text-align: center;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  color: white;
}
.admin_main_container .main_content .data .table_body {
  width: 1200px;
  height: 100%;
  margin-top: 20px;
  vertical-align: auto;
  gap: 10px;
}
.admin_main_container .main_content .data .table_body .bookinfo {
  display: flex;
  width: 1200px;
  height: 35px;
  gap: 5px;
  align-items: center;
  border-left: 1px solid rgba(236, 236, 236, 0.474);
  border-right: 1px solid rgba(236, 236, 236, 0.489);
  border-bottom: 2px solid rgba(236, 236, 236, 0.933);
  border-radius: 0px 0px 5px 5px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book0 {
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book1 {
  text-align: left;
  font-size: 12px;
  width: 200px;
  height: 30px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book2 {
  text-align: left;
  padding-right: 30px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book3 {
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book4 {
  text-align: center;
  width: 110px;
  height: 30px;
  font-size: 12px;
  padding-right: 40px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book5 {
  text-align: center;
  width: 60px;
  height: 30px;
  font-size: 12px;
  padding-right: 50px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book6 {
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 12px;
  padding-right: 65px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book7 {
  text-align: center;
  width: 40px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body .bookinfo .book7 img {
  display: "grid";
  width: "30px";
  height: "30px";
  justify-content: "center";
  align-items: center;
}
.admin_main_container .main_content .data .table_body .bookinfo .listbuttons {
  display: flex;
  margin-left: 30px;
}
.admin_main_container .main_content .data .table_body .bookinfo .listbuttons .deleteBtn {
  width: 50px;
  height: 30px;
  margin-right: 3px;
  background-color: rgb(215, 73, 73);
  color: white;
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body .bookinfo .listbuttons .deleteBtn:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(158, 0, 0);
}
.admin_main_container .main_content .data .table_body .bookinfo .listbuttons .editBtn {
  width: 50px;
  height: 30px;
  margin-right: 3px;
  background-color: rgb(57, 163, 110);
  color: white;
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body .bookinfo .listbuttons .editBtn:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(4, 103, 53);
}
.admin_main_container .main_content .data .table_body .buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body .buttons button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(68, 68, 68);
}
.admin_main_container .main_content .data .table_body_borrow {
  width: 600px;
  height: 100%;
  margin-top: 20px;
  vertical-align: auto;
  gap: 10px;
}
.admin_main_container .main_content .data .table_body_borrow .borrowinfo {
  display: flex;
  width: 600px;
  height: 35px;
  gap: 5px;
  align-items: center;
  border-left: 1px solid rgba(236, 236, 236, 0.474);
  border-right: 1px solid rgba(236, 236, 236, 0.489);
  border-bottom: 2px solid rgba(236, 236, 236, 0.933);
  border-radius: 0px 0px 5px 5px;
}
.admin_main_container .main_content .data .table_body_borrow .borrowinfo .borrow0 {
  text-align: center;
  padding-right: 55px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body_borrow .borrowinfo .borrow1 {
  text-align: left;
  font-size: 12px;
  width: 120px;
  height: 30px;
  padding-right: 20px;
}
.admin_main_container .main_content .data .table_body_borrow .borrowinfo .borrow2 {
  text-align: left;
  padding-right: 50px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body_borrow .borrowinfo .borrow3 {
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body_borrow .buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_borrow .buttons button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(68, 68, 68);
}
.admin_main_container .main_content .data .table_body_admin {
  width: 900px;
  height: 100%;
  margin-top: 20px;
  vertical-align: auto;
  gap: 10px;
}
.admin_main_container .main_content .data .table_body_admin .admininfo {
  display: flex;
  width: 900px;
  height: 45px;
  gap: 5px;
  align-items: center;
  border-left: 1px solid rgba(236, 236, 236, 0.474);
  border-right: 1px solid rgba(236, 236, 236, 0.489);
  border-bottom: 2px solid rgba(236, 236, 236, 0.933);
  border-radius: 0px 0px 5px 5px;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .admin0 {
  text-align: left;
  padding-left: 5px;
  padding-right: 55px;
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .admin1 {
  text-align: left;
  font-size: 12px;
  width: 200px;
  height: 30px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .admin2 {
  text-align: left;
  padding-right: 50px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .admin3 {
  text-align: left;
  width: 200px;
  height: 30px;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons {
  display: flex;
  height: 40px;
  margin-left: 30px;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .deleteBtn {
  width: 50px;
  height: 40px;
  margin-right: 3px;
  background-color: rgb(215, 73, 73);
  color: white;
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .deleteBtn:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(158, 0, 0);
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .editPassword {
  width: 50px;
  height: 40px;
  margin-right: 3px;
  background-color: rgb(57, 163, 110);
  color: white;
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .editPassword:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(4, 103, 53);
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .editEmail {
  width: 50px;
  height: 40px;
  margin-right: 3px;
  background-color: rgb(57, 163, 110);
  color: white;
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .editEmail:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(4, 103, 53);
}
.admin_main_container .main_content .data .table_body_admin .admininfo .listbuttons .disable {
  width: 50px;
  height: 40px;
  margin-right: 3px;
  background-color: gray;
  color: white;
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_admin .buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_admin .buttons button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(68, 68, 68);
}
.admin_main_container .main_content .data .table_body_user {
  width: 700px;
  height: 100%;
  margin-top: 20px;
  vertical-align: auto;
  gap: 10px;
}
.admin_main_container .main_content .data .table_body_user .userinfo {
  display: flex;
  width: 700px;
  height: 45px;
  gap: 5px;
  align-items: center;
  border-left: 1px solid rgba(236, 236, 236, 0.474);
  border-right: 1px solid rgba(236, 236, 236, 0.489);
  border-bottom: 2px solid rgba(236, 236, 236, 0.933);
  border-radius: 0px 0px 5px 5px;
}
.admin_main_container .main_content .data .table_body_user .userinfo .user0 {
  text-align: left;
  padding-left: 5px;
  width: 120px;
  height: 30px;
  font-size: 12px;
  padding-right: 60px;
}
.admin_main_container .main_content .data .table_body_user .userinfo .user1 {
  text-align: left;
  font-size: 12px;
  padding-right: 20px;
  width: 200px;
  height: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.admin_main_container .main_content .data .table_body_user .userinfo .user2 {
  text-align: left;
  padding-right: 40px;
  width: 150px;
  height: 30px;
  font-size: 12px;
}
.admin_main_container .main_content .data .table_body_user .userinfo .user3 {
  text-align: left;
  width: 250px;
  height: 30px;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.admin_main_container .main_content .data .table_body_user .userinfo .user4 {
  text-align: left;
  width: 70px;
  height: 30px;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.admin_main_container .main_content .data .table_body_user .buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.admin_main_container .main_content .data .table_body_user .buttons button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(68, 68, 68);
}
.admin_main_container .BookReport {
  display: flex;
  position: relative;
  top: 20px;
  left: 10px;
  width: 300px;
  height: 30px;
  justify-items: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}
.admin_main_container .BookReport p {
  position: relative;
  text-align: center;
  width: 20px;
  height: 25px;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 9;
  padding-top: 5px;
  background-color: rgba(231, 231, 231, 0.455);
}
.admin_main_container .BookReport input {
  position: relative;
  z-index: 1;
  width: 150px;
  height: 100%;
  outline: none;
  background-color: rgba(231, 231, 231, 0.455);
}
.admin_main_container .BookReport .start {
  border: none;
}
.admin_main_container .BookReport .end {
  border: none;
}
.admin_main_container .BookReport .export {
  width: 100%;
  height: 100%;
  margin-left: 5px;
}
.admin_main_container .BookReport .export button {
  display: block;
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(104, 116, 241);
  border-radius: 7px 7px 7px 7px;
  border: none;
  text-align: center;
  padding-top: 8px;
  padding-left: 15px;
}
.admin_main_container .BookReport .export .button:hover {
  color: black;
  cursor: pointer;
  background-color: rgb(39, 121, 235);
}

.Sheet {
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 400px;
  display: none;
  grid-template-rows: 0.5fr 4.5fr;
  width: 400px;
  height: 550px;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 10px 5px rgb(160, 160, 160);
}
.Sheet .close {
  width: 100%;
  height: 40px;
  background-color: rgb(35, 149, 255);
  border-radius: 15px 15px 0px 0px;
}
.Sheet .close .closeBtn {
  font-size: 20px;
  position: relative;
  left: 360px;
  top: 7px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}
.Sheet .content {
  display: grid;
  position: relative;
  top: 8px;
  gap: 5px;
  width: 400px;
  height: 85%;
  justify-content: center;
}
.Sheet .content .bookstatus {
  position: relative;
  width: 100%;
  height: 100%;
  top: -15px;
}
.Sheet .content .bookstatus p {
  position: relative;
  top: 10px;
  width: 150px;
  height: 20px;
  font-size: 14px;
}
.Sheet .content .bookstatus .checkbox {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  margin-left: -5px;
}
.Sheet .content .bookstatus .checkbox input {
  width: 15px;
  height: 15px;
}
.Sheet .content .bookstatus .checkbox label {
  position: relative;
  top: 3px;
  padding-right: 10px;
}
.Sheet .content input {
  width: 300px;
  height: 20px;
  border: none;
  background-color: rgba(231, 231, 231, 0.455);
}
.Sheet .content label {
  width: 50px;
  font-size: 14px;
}
.Sheet .createSheetBtn {
  position: relative;
  left: 50px;
  bottom: 40px;
  width: 300px;
  height: 20px;
  background-color: rgb(35, 149, 255);
  border: none;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

.adminUserSheet {
  display: none;
  width: 400px;
  height: 250px;
  background-color: rgb(249, 249, 249);
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 400px;
  border-radius: 15px 15px 0px 0px;
}
.adminUserSheet .close {
  width: 100%;
  height: 40px;
  background-color: rgb(35, 149, 255);
  border-radius: 15px 15px 0px 0px;
}
.adminUserSheet .close .closeBtn {
  font-size: 20px;
  position: relative;
  left: 360px;
  top: 7px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}
.adminUserSheet .title {
  display: grid;
  width: 200px;
  height: 70px;
  margin-left: 30px;
}
.adminUserSheet .content {
  position: relative;
  width: 350px;
  height: 40px;
  margin-left: 30px;
  top: -20px;
}
.adminUserSheet .sheet_content {
  width: 100%;
  height: 100%;
}
.adminUserSheet .sheet_content input {
  margin-left: 30px;
  width: 327px;
  height: 25px;
  border: none;
  border-radius: 7px 7px 7px 7px;
}
.adminUserSheet .sheet_content div .reset {
  width: 327px;
  height: 25px;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
  background-color: rgb(104, 116, 241);
  border-radius: 7px 7px 7px 7px;
  border: none;
}
.adminUserSheet .sheet_content div .create {
  width: 327px;
  height: 25px;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
  background-color: rgb(104, 116, 241);
  border-radius: 7px 7px 7px 7px;
  border: none;
}

.backgroundStyle {
  position: absolute;
  z-index: 50;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.6);
}

/*# sourceMappingURL=Main.css.map */
