@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

#root {
    width: 100%;
    height: 100%;
}

html,
body {
    width: 104%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Noto+Sans+JP', sans-serif;

}

.admin_main_container {
    position: relative;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 197, 206);


    .navbar {
        position: relative;
        left: 10px;
        display: grid;
        grid-template-rows: 0.5fr 4.5fr;
        width: 400px;
        height: 100%;
        background-color: alpha($color: #000000);


        .user {
            display: flex;
            width: 80%;
            height: 100%;
            justify-items: center;
            align-items: center;
            border-bottom: 1px solid rgba(128, 128, 128, 0.232);

            .image {

                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                align-items: center;
                width: 121px;
                height: 100%;

                img {
                    width: 50%;
                    height: 50%;

                }
            }

            .user_info {
                width: 70%;
                height: 100%;
                display: grid;
                text-align: start;
                font-size: 12px;
                grid-template-rows: 1fr 1fr;

                h4 {
                    position: relative;
                    top: 17px;
                }

                p {
                    position: relative;
                    bottom: 10px;
                }
            }
        }

        .menu {
            display: grid;
            position: relative;
            width: 80%;
            height: 70%;
            gap: 5px;

            .list {
                align-items: center;
                display: grid;
                width: 100%;
                height: 120px;

                h4 {
                    position: relative;
                    top: 20px;
                    font-size: 14px;
                    color: rgba(138, 138, 159, 0.971);
                }

                ul {

                    display: grid;
                    width: 100%;
                    gap: 15px;
                    padding-left: 0;
                    list-style: none;
                    font-family: 'Noto+Sans+JP', sans-serif;

                    li {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        display: flex;
                        gap: 10px;
                        font-size: 14px;
                        color: rgb(71, 69, 69);
                    }

                    li:hover {
                        cursor: pointer;
                        width: 80%;
                        text-align: center;
                        padding-left: 5px;
                        padding-top: 10px;
                        background-color: rgb(255, 255, 255);
                        border-radius: 5px 5px 5px 5px;
                    }

                }
            }
        }




    }

    .main_content {
        position: relative;
        top: 20px;
        right: 10px;
        width: 90%;
        height: 95%;
        background-color: white;
        border-radius: 8px 8px 8px 8px;

        .page_title {
            color: rgba(45, 45, 52, 0.971);
            width: 100%;
            height: 50px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.232);

            h3 {
                padding-left: 20px;
                font-family: 'Roboto', sans-serif;
            }
        }

        .filter {
            display: flex;
            width: 100%;
            height: 100px;
            gap: 40px;
            justify-items: center;
            align-items: center;

            .column {
                p {
                    font-size: 12px;
                }

                #book_column {
                    width: 160px;
                    height: 30px;
                    background-color: rgb(255, 252, 252);
                    border: none;

                    option {
                        text-align: center;

                    }

                }
            }

            .search_section {

                position: relative;
                left: 20px;

                p {
                    font-size: 12px;
                }

                .search_btn {
                    position: relative;
                    width: 50px;
                    height: 30px;
                    background-color: rgb(255, 252, 252);
                    border: none;
                    z-index: 10;
                }

                .search_btn:hover {
                    cursor: pointer;
                    color: blue;
                }

                .search {
                    position: relative;
                    width: 200px;
                    height: 30px;
                    z-index: 3;
                    background-color: rgb(255, 252, 252);
                    border-radius: 0px 5px 5px 0px;
                    border: none;
                }

                .search::placeholder {
                    text-align: center;
                }
            }


            .createBtn {
                display: block;
                margin-top: 40px;
                width: 100px;
                height: 30px;
                color: white;
                background-color: rgb(104, 116, 241);
                border-radius: 7px 7px 7px 7px;
                border: none;
            }

            .createBtn:hover {
                color: black;
                cursor: pointer;
                background-color: rgb(39, 121, 235);
            }
        }

        .data {
            width: 1200px;
            height: 400px;
            margin-left: 20px;
            border-collapse: collapse;
            table-layout: fixed;

            .table_head {
                width: 95%;
                height: 30px;
                background-color: rgb(197, 197, 206);

                .column {
                    width: 90%;
                    display: flex;
                    gap: 15px;
                    margin-left: 10px;
                    justify-content: space-between;

                    .column0 {
                        text-align: center;
                        padding-right: 40px;
                        width: 70px;
                        height: 40px;
                        margin-top: 10px;
                        color: white;
                    }

                    .column1 {
                        width: 100px;
                        height: 40px;
                        padding-right: 88px;

                        margin-top: 10px;
                        color: white;
                    }

                    .column2 {
                        text-align: center;
                        width: 100px;
                        height: 40px;
                        margin-top: 10px;
                        color: white;
                        padding-right: 30px;
                    }

                    .column3 {
                        text-align: center;
                        width: 155px;
                        height: 40px;
                        margin-top: 10px;
                        color: white;
                        padding-right: 30px;
                    }

                    .column4 {
                        width: 100px;
                        height: 40px;
                        padding-right: 30px;
                        margin-top: 10px;
                        color: white;
                    }

                    .column5 {
                        width: 60px;
                        height: 40px;
                        padding-right: 55px;
                        margin-top: 10px;
                        color: white;
                    }

                    .column6 {
                        margin-top: 10px;
                        color: white;
                        text-align: center;
                        width: 100px;
                        height: 40px;
                        padding-right: 20px;
                    }

                    .column7 {
                        margin-top: 10px;
                        color: white;
                        text-align: center;
                        width: 50px;
                        height: 40px;
                        padding-right: 50px;
                    }
                }

            }

            .table_body {
                width: 1200px;
                height: 100%;
                margin-top: 20px;
                vertical-align: auto;
                gap: 10px;


                .info {
                    display: flex;
                    width: 1200px;
                    height: 35px;
                    gap: 5px;
                    align-items: center;
                    border-left: 1px solid rgba(236, 236, 236, 0.474);
                    border-right: 1px solid rgba(236, 236, 236, 0.489);
                    border-bottom: 2px solid rgba(236, 236, 236, 0.933);
                    border-radius: 0px 0px 5px 5px;

                    .bookId {
                        text-align: center;
                        width: 100px;
                        height: 30px;
                        font-size: 12px;
                    }

                    .bookName {
                        text-align: left;
                        font-size: 12px;
                        width: 200px;
                        height: 30px;
                    }


                    .bookAuthor {
                        text-align: left;
                        padding-right: 30px;
                        width: 100px;
                        height: 30px;
                        font-size: 12px;
                    }

                    .productionDate {
                        width: 120px;
                        height: 30px;
                        font-size: 12px;
                    }

                    .bookStatus {
                        text-align: center;
                        width: 110px;
                        height: 30px;
                        font-size: 12px;
                        padding-right: 40px;
                    }

                    .borrowCount {
                        text-align: center;
                        width: 60px;
                        height: 30px;
                        font-size: 12px;
                        padding-right: 50px;
                    }

                    .bookCategory {
                        text-align: center;
                        width: 100px;
                        height: 30px;
                        font-size: 12px;
                        padding-right: 65px;
                    }

                    .Image {
                        text-align: center;
                        width: 40px;
                        height: 30px;
                        font-size: 12px;
                    }

                    .listbuttons {
                        display: flex;
                        margin-left: 30px;

                        .deleteBtn {
                            width: 50px;
                            height: 30px;
                            margin-right: 3px;
                            background-color: rgb(215, 73, 73);
                            color: white;
                            border-radius: 7px 7px 7px 7px;
                            border: none;
                        }

                        .deleteBtn:hover {
                            color: white;
                            cursor: pointer;
                            background-color: rgb(158, 0, 0);
                        }

                        .editBtn {
                            width: 50px;
                            height: 30px;
                            margin-right: 3px;
                            background-color: rgb(57, 163, 110);
                            color: white;
                            border-radius: 7px 7px 7px 7px;
                            border: none;
                        }

                        .editBtn:hover {
                            color: rgb(255, 255, 255);
                            cursor: pointer;
                            background-color: rgb(4, 103, 53);
                        }
                    }



                }
            }
        }



        .buttons {
            margin-left: 550px;
            margin-top: 20px;
            display: flex;
            gap: 15px;


            button {
                width: 100px;
                height: 30px;
                background-color: rgb(230, 230, 230);
                border-radius: 7px 7px 7px 7px;
                border: none;
            }

            button:hover {
                cursor: pointer;
                color: white;
                background-color: rgb(68, 68, 68);
            }
        }


    }

}



.Sheet {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 400px;
    display: none;
    grid-template-rows: 0.5fr 4.5fr;
    width: 400px;
    height: 550px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px rgb(160, 160, 160);
    ;

    .close {
        width: 100%;
        height: 40px;
        background-color: rgb(35, 149, 255);
        border-radius: 15px 15px 0px 0px;

        .closeBtn {
            font-size: 20px;
            position: relative;
            left: 360px;
            top: 7px;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            color: white;
        }
    }

    .content {
        display: grid;
        position: relative;
        top: 8px;
        gap: 5px;
        width: 400px;
        height: 85%;
        justify-content: center;

        .bookstatus {
            position: relative;
            width: 100%;
            height: 100%;
            top: -15px;

            p {
                position: relative;
                top: 10px;
                width: 150px;
                height: 20px;
                font-size: 14px;
            }

            .checkbox {
                display: flex;
                width: 100%;
                gap: 5px;
                align-items: center;
                margin-left: -5px;

                input {
                    width: 15px;
                    height: 15px;
                }
                label{
                    position: relative;
                    top: 3px;
                    padding-right: 10px;
                }

            }

        
        }

        input {
            width: 300px;
            height: 20px;
            border: none;
            background-color: rgba(231, 231, 231, 0.455);
        }
    
        label {
            width: 50px;
            font-size: 14px;
        }

        


    } 
    .createBtn {
        position: relative;
        left: 50px;
        bottom: 40px;
        width: 300px;
        height: 20px;
        background-color: rgb(35, 149, 255);
        border: none;
        color: white;
        border-radius: 5px 5px 5px 5px;

    }
}

.backgroundStyle{
    position: absolute;
    z-index: 50;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #9c9c9c99;
}